build
.gradle/
out/
**/*.o
mock_runner
plug_server
/bin/
.classpath
.settings
.project
*.iml
**/simple_main
**/*.exe
.vscode/settings.json
src/reflections/gve_main
**/*.xcuserstate
**/*.xcworkspacedata
**/cmake-build-debug/**/*
src/simple_soup/models/32bits/ss_model.c
**/*.a
**/*.so